{% extends "base.html" %}
{% block title %} Blogpost : {{filepath}} {% end %}

{% block body %}

<style>

body, html{
    margin: 0;
    height: 100%;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
}

#navbar {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 40px;
    padding: 2px;
}

#app{
    height: 100%;
}

#editor{
    height: 92%;
    width: 100%;
    position: absolute;
    top: 40px;
}

textarea, #editor div {
    display: inline-block;
    width: 49%;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0 20px;
}

#editor div{
    overflow: auto;
}

textarea {
    border: none;
    border-right: 1px solid #ccc;
    resize: none;
    outline: none;
    background-color: #f6f6f6;
    font-size: 14px;
    font-family: 'Monaco', courier, monospace;
    padding: 20px;
}

code {
      color: #f66;
}

</style>

<div id="app">

<div id="navbar">
    <button class="btn btn-warning" @click="leave">離開</button>
</div>

<div id="editor">
    <textarea :value="blogpost" @input="updateBlogpost"></textarea>
    <div v-html="markupBlogpost"></div>
</div>

</div>

<script>

function markup(data, path){
    content = marked(data);
    var elem = document.createElement("div");
    elem.innerHTML = content;

    // Rewrite image url

    var images = elem.getElementsByTagName("img");
    for(var i = 0; i < images.length; i++){
        var image = images[i];
        var src = image.getAttribute('src');
        console.log(src);
        if(src.indexOf("//") == -1 && src[0] != "/")
            src = path + "/" + src;
        image.src = src;
        image.style.maxWidth = "100%";
        //console.log(src);
    }

    // Rewrite link url

    return elem.innerHTML;
}

Date.prototype.toString = function() {
    var yyyy = this.getFullYear();
    var mm = this.getMonth() < 9 ? "0" + (this.getMonth() + 1) : (this.getMonth() + 1); // getMonth() is zero-based
    var dd  = this.getDate() < 10 ? "0" + this.getDate() : this.getDate();
    var hh = this.getHours() < 10 ? "0" + this.getHours() : this.getHours();
    var min = this.getMinutes() < 10 ? "0" + this.getMinutes() : this.getMinutes();
    var ss = this.getSeconds() < 10 ? "0" + this.getSeconds() : this.getSeconds();
    return "".concat(yyyy).concat("/").concat(mm).concat("/").concat(dd).concat(" ")
             .concat(hh).concat(":").concat(min).concat(":").concat(ss);
};

var app = new Vue({
    el: '#app',
    delimiters: ["%{","}"],
    data: {
        blogpost : "",
        filepath : "{{filepath}}",
    },
    computed : {
        markupBlogpost : function(){
            return markup(this.blogpost, "/blogdb/" + this.filepath);
        }
    },
    created : function(){
        var _this = this;
        this.$http.post("/blog/" + this.filepath, {}, {
            params : {
                method : "getPost"
            }
        }).then(function(ret){
            _this.blogpost = ret.body; 
        }, function(ret){
            _this.blogpost = "";
        });
    },
    ready : function(){
    },
    methods : {
        updateBlogpost: _.debounce(function (e) {
            this.blogpost = e.target.value;
            this.save();
        }, 500),
        save : function(){
            var _this = this;
            this.$http.post("/blog/" + this.filepath, {}, {
                params:{
                    method : "updatePost",
                    md : this.blogpost
                }
            });
        },
        leave : function(){
            window.location.href = "/blog/";
        }
    }
});

</script>

{% end %}
