{% extends "base.html" %}
{% block title %} Blogpost : {{filepath}} {% end %}

{% block body %}

<style>

body, html{
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
}

#editor{
    height: 92%;
    width: 100%;
    position: absolute;
    top: 40px;
}

textarea, #editor div {
    display: inline-block;
    width: 49%;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0 20px;
    margin-top: 0px;
}

#editor div{
    overflow: auto;
    margin-top: 20px;
}

textarea {
    border: none;
    border-right: 1px solid #ccc;
    resize: none;
    outline: none;
    background-color: #f6f6f6;
    font-size: 14px;
    font-family: 'Monaco', courier, monospace;
    padding: 20px;
}

code {
      color: #f66;
}

</style>

<div id="app">

<navbar placement="static" type="default">
    <li slot="left">
        <form class="form-inline navbar-form">
            <bs-input label="標題" v-model="title" @input="updateTitle"></bs-input>
        </form>
    </li>
    <dropdown text="圖片">
        <li><a href="#" @click="img_ctrl.show=true">圖片一</a></li>
        <li><a href="#">圖片二</a></li>
    </dropdown>
    <li slot="left">
        <a @click="leave" href="#">離開</a>
    </li>
</navbar>

<div id="editor">
    <textarea :value="blogpost" @input="updateBlogpost"></textarea>
    <div v-html="markupBlogpost"></div>
</div>

<modal v-model="img_ctrl.show">
    <div slot="modal-header" class="modal-header">
        <h4 class="modal-title"> 圖片: %{img_ctrl.filename} </h4>
    </div>

    <img style="max-width:100%" :src="img_ctrl.filename"/>

    <div slot="modal-footer" class="modal-footer">
        <button type="button" class="btn btn-default" @click="img_ctrl.show=false">關閉</button>
    </div>
</modal>

</div>

<script>

function markup(data, path){
    content = marked(data);
    var elem = document.createElement("div");
    elem.innerHTML = content;

    // Rewrite image url

    var images = elem.getElementsByTagName("img");
    for(var i = 0; i < images.length; i++){
        var image = images[i];
        var src = image.getAttribute('src');
        console.log(src);
        if(src.indexOf("//") == -1 && src[0] != "/")
            src = path + "/" + src;
        image.src = src;
        image.style.maxWidth = "100%";
        //console.log(src);
    }

    // Rewrite link url

    return elem.innerHTML;
}

Date.prototype.toString = function() {
    var yyyy = this.getFullYear();
    var mm = this.getMonth() < 9 ? "0" + (this.getMonth() + 1) : (this.getMonth() + 1); // getMonth() is zero-based
    var dd  = this.getDate() < 10 ? "0" + this.getDate() : this.getDate();
    var hh = this.getHours() < 10 ? "0" + this.getHours() : this.getHours();
    var min = this.getMinutes() < 10 ? "0" + this.getMinutes() : this.getMinutes();
    var ss = this.getSeconds() < 10 ? "0" + this.getSeconds() : this.getSeconds();
    return "".concat(yyyy).concat("/").concat(mm).concat("/").concat(dd).concat(" ")
             .concat(hh).concat(":").concat(min).concat(":").concat(ss);
};

var app = new Vue({
    el: '#app',
    delimiters: ["%{","}"],
    data: {
        blogpost : "",
        title : "",
        filepath : "{{filepath}}",
        img_ctrl : {
            show : false,
            filename : "",
        }
    },
    components: {
        bsInput: VueStrap.input,
        navbar: VueStrap.navbar,
        dropdown : VueStrap.dropdown,
        modal : VueStrap.modal,
    },
    computed : {
        markupBlogpost : function(){
            return markup(this.blogpost, "/blogdb/" + this.filepath);
        }
    },
    created : function(){
        var _this = this;
        this.$http.post("/blog/" + this.filepath, {}, {
            params : {
                method : "getPost"
            }
        }).then(function(ret){
            _this.blogpost = ret.body.md;
            _this.title = ret.body.title;
        }, function(ret){
            _this.blogpost = "";
        });
    },
    ready : function(){
    },
    methods : {
        updateBlogpost: _.debounce(function (e) {
            this.blogpost = e.target.value;
            this.saveBlogpost();
        }, 500),
        updateTitle: _.debounce(function (e) {
            this.saveTitle();
        }, 500),
        saveBlogpost : function(){
            var _this = this;
            this.$http.post("/blog/" + this.filepath, {}, {
                params:{
                    method : "updatePost",
                    md : this.blogpost,
                }
            });
        },
        saveTitle : function(){
            var _this = this;
            this.$http.post("/blog/" + this.filepath, {}, {
                params:{
                    method : "updatePost",
                    title : this.title,
                }
            });
        },
        leave : function(){
            window.location.href = "/blog/";
        }
    }
});

</script>

{% end %}
